<section class="section section--about section--bg">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="about">
                    <picture class="about__picture picture">
                        <source srcset="https://picsum.photos/450/600" media="(max-width: 425px)">
                        <source srcset="https://picsum.photos/800/1000" media="(max-width: 768px)">
                        <source srcset="https://picsum.photos/1280/720" media="(max-width: 1024px)">
                        <img class="about__img" src="img/about-bg.jpg" alt="about blog">
                    </picture>
                    <div class="container">
                        <div class="about__content">
                            <div class="about__head">
                                <p class="about__subtitle">inspiration</p>
                                <h2 class="about__title title title--main title--white">Lorem Ipsum is simply dummy text
                                    of
                                    <br> the printing and typesetting industry</h2>
                            </div>
                            <a href="#" class="about__btn btn">read more</a>
                            <div class="about__author-block">
                                <a href="#" class="author">
                                    <div class="author__img-wrap">
                                        <img src="img/author-img-1.jpg" alt="author" class="author__img">
                                    </div>
                                    <h5 class="author__name author__name--white">henry little</h5>
                                    <time class="author__time author__time--white" datetime="2016-04-28 10:15:00">April 28, 2016
                                        10:15</time>
                                </a>
                                <div class="about__actions">
                                    <a href="#" class="comments">
                                        <span class="comments__icon material-icons">forum</span>
                                        <span class="comments__text">Comments (28)</span>
                                    </a>
                                    <a href="#" class="likes">
                                        <span class="likes__icon material-icons">favorite_border</span>
                                        <span class="likes__text">Likes (07)</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="about">
                    <picture class="about__picture picture">
                        <source srcset="https://picsum.photos/450/600" media="(max-width: 425px)">
                        <source srcset="https://picsum.photos/800/1000" media="(max-width: 768px)">
                        <source srcset="https://picsum.photos/1280/720" media="(max-width: 1024px)">
                        <img class="about__img" src="https://picsum.photos/1920/1200" alt="about blog">
                    </picture>
                    <div class="container">
                        <div class="about__content">
                            <div class="about__head">
                                <p class="about__subtitle">inspiration</p>
                                <h2 class="about__title title title--main title--white">Lorem Ipsum is simply dummy text
                                    of
                                    <br> the printing and typesetting industry</h2>
                            </div>
                            <a href="#" class="about__btn btn">read more</a>
                            <div class="about__author-block">
                                <a href="#" class="author">
                                    <div class="author__img-wrap">
                                        <img src="img/author-img-1.jpg" alt="author" class="author__img">
                                    </div>
                                    <h5 class="author__name author__name--white">henry little</h5>
                                    <time class="author__time author__time--white" datetime="2016-04-28 10:15:00">April 28, 2016
                                        10:15</time>
                                </a>
                                <div class="about__actions">
                                    <a href="#" class="comments">
                                        <span class="comments__icon material-icons">forum</span>
                                        <span class="comments__text">Comments (28)</span>
                                    </a>
                                    <a href="#" class="likes">
                                        <span class="likes__icon material-icons">favorite_border</span>
                                        <span class="likes__text">Likes (07)</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="about">
                    <picture class="about__picture picture">
                        <source srcset="https://picsum.photos/450/600" media="(max-width: 425px)">
                        <source srcset="https://picsum.photos/800/1000" media="(max-width: 768px)">
                        <source srcset="https://picsum.photos/1280/720" media="(max-width: 1024px)">
                        <img class="about__img" src="https://picsum.photos/1920/1080" alt="about blog">
                    </picture>
                    <div class="container">
                        <div class="about__content">
                            <div class="about__head">
                                <p class="about__subtitle">inspiration</p>
                                <h2 class="about__title title title--main title--white">Lorem Ipsum is simply dummy text
                                    of
                                    <br> the printing and typesetting industry</h2>
                            </div>
                            <a href="#" class="about__btn btn">read more</a>
                            <div class="about__author-block">
                                <a href="#" class="author">
                                    <div class="author__img-wrap">
                                        <img src="img/author-img-1.jpg" alt="author" class="author__img">
                                    </div>
                                    <div class="author__about">
                                        <h5 class="author__name author__name--white">henry little</h5>
                                        <time class="author__time author__time--white" datetime="2016-04-28 10:15:00">April 28, 2016
                                            10:15</time>
                                    </div>
                                </a>
                                <div class="about__actions">
                                    <a href="#" class="comments">
                                        <span class="comments__icon material-icons">forum</span>
                                        <span class="comments__text">Comments (28)</span>
                                    </a>
                                    <a href="#" class="likes">
                                        <span class="likes__icon material-icons">favorite_border</span>
                                        <span class="likes__text">Likes (07)</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
        </div>
        <div class="swiper-button-next"></div>
    </div>
</section>