<aside class="aside" id="aside">
    <div class="search aside__items">
        <input class="search__field" type="search" name="" id="" placeholder="search">
        <span class="search__icon material-icons">search</span>
    </div>
    <div class="categories aside__items">
        <h3 class="aside__title">categories</h3>
        <ul class="menu menu--aside">
            <li class="menu__item">
                <a href="#" class="menu__link">
                    Photography
                    <span class="menu__amount">195</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    Illustration
                    <span class="menu__amount">15</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    Graphic Design
                    <span class="menu__amount">36</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    Web design
                    <span class="menu__amount">220</span>
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">
                    Videography
                    <span class="menu__amount">17</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="subscribe aside__items">
        <h3 class="aside__title">subscribe</h3>
        <form action="#" method="POST" class="form">
            <label class="form__label">
                name
                <input type="text" placeholder="igor ten" class="form__field">
            </label>
            <label class="form__label">
                email
                <input type="email" placeholder="email@adress.com" class="form__field">
            </label>
            <button type="submit" class="form__btn btn">subscribe</button>
        </form>
        <p class="or">or</p>
        <ul class="social social--full">
            <li class="social__item">
                <a href="https://www.facebook.com/" class="social__link facebook" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li class="social__item">
                <a href="https://twitter.com/" class="social__link twitter" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="social__item">
                <a href="https://vk.com/" class="social__link vk" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-vk"></i>
                </a>
            </li>
            <li class="social__item">
                <a href="https://www.pinterest.com/" class="social__link pinterest" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </li>
            <li class="social__item">
                <a href="https://www.tumblr.com/" class="social__link tumblr" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-tumblr"></i>
                </a>
            </li>
            <li class="social__item">
                <a href="https://dribbble.com/" class="social__link dribbble" rel="noopener noreferrer">
                    <i class="fab fa-dribbble"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-widget aside__items">
        <h3 class="aside__title">tab post widget</h3>
        <div class="tab-widget__toggler">
            <a href="#" class="tab-widget__link tab-widget__link--active">recent post</a>
            <a href="#" class="tab-widget__link">popular post</a>
        </div>
        <article class="tab-widget__item article article--row article--aside">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog-aside/blog-aside-img-1.jpg" alt="article" class="article__img">
                    </picture>
                </a>
            </div>
            <div class="article__about">
                <div class="article__figcaption">
                    <time class="author__time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                    <a href="#" class="comments">
                        <span class="comments__icon material-icons">forum</span>
                        <span class="comments__text">17</span>
                    </a>
                </div>
                <h4 class="article__title">Lorem ipsum dolor sit amet.</h4>
            </div>
        </article>
        <article class="tab-widget__item article article--row article--aside">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog-aside/blog-aside-img-2.jpg" alt="article" class="article__img">
                    </picture>
                </a>
            </div>
            <div class="article__about">
                <div class="article__figcaption">
                    <time class="author__time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                    <a href="#" class="comments">
                        <span class="comments__icon material-icons">forum</span>
                        <span class="comments__text">17</span>
                    </a>
                </div>
                <h4 class="article__title">Lorem ipsum dolor sit amet.</h4>
            </div>
        </article>
        <article class="tab-widget__item article article--row article--aside">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog-aside/blog-aside-img-3.jpg" alt="article" class="article__img">
                    </picture>
                </a>
            </div>
            <div class="article__about">
                <div class="article__figcaption">
                    <time class="author__time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                    <a href="#" class="comments">
                        <span class="comments__icon material-icons">forum</span>
                        <span class="comments__text">17</span>
                    </a>
                </div>
                <h4 class="article__title">Lorem ipsum dolor sit amet.</h4>
            </div>
        </article>
        <article class="tab-widget__item article article--row article--aside">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog-aside/blog-aside-img-4.jpg" alt="article" class="article__img">
                    </picture>
                </a>
            </div>
            <div class="article__about">
                <div class="article__figcaption">
                    <time class="author__time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                    <a href="#" class="comments">
                        <span class="comments__icon material-icons">forum</span>
                        <span class="comments__text">17</span>
                    </a>
                </div>
                <h4 class="article__title">Lorem ipsum dolor sit amet.</h4>
            </div>
        </article>
    </div>
    <div class="tags aside__items">
        <h3 class="aside__title">tags</h3>
        <ul class="tags__menu menu menu--tags">
            <li class="menu__item">
                <a href="#" class="menu__link">Photography</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Webdesign</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Youtube</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Envato</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Art</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Themefotest</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Illustration</a>
            </li>
        </ul>
    </div>
</aside>