<section class="section section--blog">
    <div class="articles">
        <article class="article article--full full a">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-1.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <a href="#" class="article__play">
                    <span class="article__play-icon material-icons">play_circle_outline</span>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">lifestyle</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">10 Things To Do To Change Your Life Forever</h4>
                    <p class="article__text">The one constant thing in our life is change. We cannot avoid it and the more we resist change the tougher our life becomes. I know this because I was very skilled at deflecting change in life.</p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-0.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">henry little</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016 10:15</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--row b article--none row">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-2.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">inspiration</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title article__title--primary">Lorem ipsum dolor sit amet.</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-1.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">james leman</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--sm-col c row">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-3.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <a href="#" class="article__play">
                    <span class="article__play-icon material-icons">play_circle_outline</span>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">inspiration</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">4 Natural Ways To Have Young Skin</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-1.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">james leman</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--sm-col article--no-about d article--none row">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-4.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <a href="#" class="article__play">
                    <span class="article__play-icon material-icons">play_circle_outline</span>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">inspiration</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar.</p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-1.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">james leman</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--sm-col article--no-about e row">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-5.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">inspiration</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">Six Hobbies That Can Help You Beat Stress</h4>
                    <p class="article__text article__text--sm">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-2.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">james leman</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--sm-col f row">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-6.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">inspiration</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">10 Singals From Your Body Telling You Should Sleep More</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vehicula lorem and lacus. Vestibulum vitae mauris lorem ipsum doar. </p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-0.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">Benjamin Miller</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--full article--no-about col">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-7.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <a href="#" class="article__play">
                    <span class="article__play-icon material-icons">play_circle_outline</span>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">inspiration</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">Food That Actually Taste 
                        Better When You Freeze </h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris. </p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-1.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">james leman</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--row col">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-8.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">trip</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">3</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">Why It’s Amazing To Date
                        People Who Love Traveling</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris. </p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-2.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">Benjamin Miller</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--row col">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-9.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">lifestyle</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">18</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">5 Useful Tips for Novice Painters</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris. </p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-0.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">henry little</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--full article--none col">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-10.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">lifestyle</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">11 Fantastic Ways Passionate</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris gravida, ipsu viverra urna at, dictume nunc fringilla quam.</p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-1.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">james leman</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--full article--no-about md">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-11.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">lifestyle</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title">11 Fantastic Ways Passionate</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris gravida, ipsu viverra urna at, dictume nunc fringilla quam.</p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-1.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">james leman</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
        <article class="article article--full md">
            <div class="article__media-wrap">
                <a href="#" class="article__media">
                    <picture class="article__img-wrap">
                        <img src="img/blog/article-img-12.jpg" alt="article" class="article__img">
                    </picture>
                </a>
                <div class="article__figcaption">
                    <a href="#" class="article__rubric">inspiration</a>
                    <div class="article__actions">
                        <a href="#" class="comments">
                            <span class="comments__icon material-icons">forum</span>
                            <span class="comments__text">7</span>
                        </a>
                        <a href="#" class="likes">
                            <span class="likes__icon material-icons">favorite_border</span>
                            <span class="likes__text">15</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="article__about">
                <a href="#" class="article__description">
                    <h4 class="article__title article__title--primary">Art Makes You Mentally Healthy</h4>
                    <p class="article__text">Lorem ipsum dolor sit amet, to consectetur  adipi scing elit. Nulla vel vehicula lorem and lacus. Vestibulum vitae mauris gravida, ipsu viverra urna at, dictume nunc fringilla quam.</p>
                </a>
                <div class="article__author">
                    <a href="#" class="author author--row">
                        <div class="author__img-wrap">
                            <img src="img/author-img-sm-2.jpg" alt="author" class="author__img">
                        </div>
                        <div class="author__about author__about--row">
                            <h5 class="author__name author__name--row">Benjamin Miller</h5>
                            <time class="author__time time" datetime="2016-04-28 10:15:00">April 28, 2016</time>
                        </div>
                    </a>
                    <a href="#" class="article__more">
                        <span class="article__more-icon material-icons">more_vert</span>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <div class="section__more">
        <a href="#" class="more">
            <span class="more__text">more</span>
            <span class="more__icon material-icons">arrow_forward</span>
        </a>
    </div>
</section>