<section class="section section--blog-block" id="blog">
    <h2 class="visually-hidden">Blog </h2>
    <div class="nav-blog">
        <div class="container">
            <nav class="nav nav--menu-blog">
                <h5 class="nav__title title title--nav">sort blog:</h5>
                <select name="years" data-placeholder="Sort blog" class="hide_select">
                    <option value="1">
                        <a href="#" class="menu__link menu__link--blog">all</a>
                    </option>
                    <option value="2">
                        <a href="#" class="menu__link menu__link--blog">photography</a>
                    </option>
                    <option value="3">
                        <a href="#" class="menu__link menu__link--blog">lifestyle</a>
                    </option>
                    <option value="4">
                        <a href="#" class="menu__link menu__link--blog">trip</a>
                    </option>
                    <option value="5">
                        <a href="#" class="menu__link menu__link--blog">inspiration</a>
                    </option>
                </select>
                <ul class="nav-blog__menu menu menu--blog">
                    <li class="menu__item">
                        <a href="#" class="menu__link menu__link--active">all</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">photography</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">lifestyle</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">trip</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">inspiration</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section__content">
        <div class="container">
            <div class="blog-wrap">
                //= ../partials/blog.html
                //= ../partials/aside.html
            </div>
        </div>
    </div>
</section>