<footer class="footer">
    <div class="container">
        <nav class="nav nav--footer">
            <ul class="footer__social social">
                <li class="social__item">
                    <a href="https://www.facebook.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://twitter.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://vk.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-vk"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://www.pinterest.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://www.tumblr.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-tumblr"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://dribbble.com/" class="social__link" rel="noopener noreferrer">
                        <i class="fab fa-dribbble"></i>
                    </a>
                </li>
            </ul>
            <ul class="footer__menu menu menu--footer">
                <li class="menu__item">
                    <a href="#about" class="menu__link">home</a>
                </li>
                <li class="menu__item">
                    <a href="#projects" class="menu__link">portfolio</a>
                </li>
                <li class="menu__item">
                    <a href="#news" class="menu__link">blog</a>
                </li>
                <li class="menu__item">
                    <a href="#contact" class="menu__link">pages</a>
                </li>
                <li class="menu__item">
                    <a href="#contact" class="menu__link">shop</a>
                </li>
                <li class="menu__item">
                    <a href="#contact" class="menu__link">components</a>
                </li>
                <li class="menu__item">
                    <a href="#contact" class="menu__link">features</a>
                </li>
            </ul>
            <div class="footer-search">
                <input class="footer-search__field" type="search" placeholder="search">
                <span class="footer-search__icon material-icons">search</span>
            </div>
            <div class="lang lang--footer">
                <span class="lang__icon material-icons">language</span>
                <svg class="lang__arrow" width="11" height="6">
                    <use xlink:href="#arrow-down"></use>
                </svg>
                <select name="lang" data-fixed-placeholder="" class="lang__select minimal hide_select">
                    <option class="lang__item" value="1">eng</option>
                    <option class="lang__item" value="2" selected="selected">rus</option>
                </select>
            </div>
            <p class="footer__copy">© 2016 LOGO | All Rights Reserved</p>
        </nav>
        
    </div>
</footer>