<header class="header">
    <div class="header__top-menu">
        <div class="container">
            <div class="top-menu">
                <ul class="top-menu__social social">
                    <li class="social__item">
                        <a href="https://www.facebook.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://twitter.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.pinterest.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://vk.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-vk"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://myaccount.google.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.behance.net/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-behance"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://dribbble.com/" class="social__link" rel="noopener noreferrer">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="https://www.instagram.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <div class="user-block">
                    <div class="user-block__item">
                        <a href="#" class="user">
                            <span class="user__icon material-icons">account_circle</span>
                            <span class="user__text">sign in</span>
                        </a>
                    </div>
                    <div class="user-block__item">
                        <div class="lang">
                            <span class="lang__icon material-icons">language</span>
                            <svg class="lang__arrow" width="11" height="6">
                                <use xlink:href="#arrow-down"></use>
                            </svg>
                            <select name="lang" data-fixed-placeholder="" class="lang__select minimal hide_select">
                                <option class="lang__item" value="1">eng</option>
                                <option class="lang__item" value="2" selected="selected">rus</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <nav class="nav">
                <a href="#" class="toggler" onclick="toggleMenu(event)">
                    <span class="toggler__icon material-icons">menu</span>
                </a>
                <a href="index.html" class="logo">
                    <h1 class="title title--logo title--white">logo</h1>
                </a>
                //= ../partials/menu.html
                <ul class="nav-actions">
                    <li class="nav-actions__item">
                        <a href="#" class="nav-actions__link search">
                            <span class="nav-actions__icon material-icons">search</span>
                        </a>
                    </li>
                    <li class="nav-actions__item">
                        <a href="#" class="nav-actions__link">
                            <span class="nav-actions__icon material-icons like">favorite_border</span>
                        </a>
                    </li>
                    <li class="nav-actions__item">
                        <a href="#" class="nav-actions__link cart">
                            <span class="nav-actions__icon material-icons">shopping_cart</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>