<section class="section" id="portfolio">
    <ul class="instagrams">
        <li class="instagrams__item">
            <a href="#" class="widget">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-1.jpg" alt="instagram">
                </picture>
            </a>
        </li>
        <li class="instagrams__item">
            <a href="#" class="instagram">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-2.jpg" alt="instagram">
                </picture>
            </a>
        </li>
        <li class="instagrams__item">
            <a href="#" class="instagram">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-3.jpg" alt="instagram">
                </picture>
            </a>
        </li>
        <li class="instagrams__item">
            <a href="#" class="instagram">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-4.jpg" alt="instagram">
                </picture>
            </a>
        </li>
        <li class="instagrams__item">
            <a href="#" class="instagram">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-5.jpg" alt="instagram">
                </picture>
            </a>
        </li>
        <li class="instagrams__item">
            <a href="#" class="instagram">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-6.jpg" alt="instagram">
                </picture>
            </a>
        </li>
        <li class="instagrams__item">
            <a href="#" class="instagram">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-7.jpg" alt="instagram">
                </picture>
            </a>
        </li>
        <li class="instagrams__item">
            <a href="#" class="instagram">
                <picture class="instagram__img-wrap">
                    <img class="instagram__img" src="img/instagram-8.jpg" alt="instagram">
                </picture>
            </a>
        </li>
    </ul>
</section>