<ul class="menu menu--dropdown">
    <li class="menu__item">
        <a href="#about" class="menu__link menu__link--active">
            home
            <svg width="11" height="6">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
    </li>
    <li class="menu__item">
        <a href="#portfolio" class="menu__link">
            portfolio
            <svg width="11" height="6">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
    </li>
    <li class="menu__item">
        <a href="#blog" class="menu__link">
            blog
            <svg width="11" height="6">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
    </li>
    <li class="menu__item">
        <a href="#widgets" class="menu__link">
            pages
            <svg width="11" height="6">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
    </li>
    <li class="menu__item">
        <a href="#aside" class="menu__link">
            shop
            <svg width="11" height="6">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
    </li>
    <li class="menu__item">
        <a href="#" class="menu__link">
            components
            <svg width="11" height="6">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
    </li>
    <li class="menu__item">
        <a href="#" class="menu__link">
            features
            <svg width="11" height="6">
                <use xlink:href="#arrow-down"></use>
            </svg>
        </a>
    </li>
</ul>