<section class="section section--widgets" id="widgets">
    <div class="container">
        <ul class="widgets">
            <li class="widgets__item widgets__logo">
                <div class="widget">
                    <a href="index.html" class="logo">
                        <h2 class="title title--logo title--white">logo</h1>
                    </a>
                    <div class="widget__content">
                        <p class="widget__text">LOGO sit amet varius orci. Duis upse commodo elit sedamocid nisimole up stie, vitae fringilla justo fringilla. Lori Vestibulum libr portaman neque enia gravida elementum facilisis ipsum leonardo. Vestibulum loeuenim and libero, lobortis eu tortor ut, hendrerit  maxi tellus. Vivamus egestas massa leo, sit amet facilisis commodo. </p>
                        <a href="#" class="widget__btn btn">read more</a>
                    </div>
                </div>
            </li>
            <li class="widgets__item">
                <div class="widget">
                    <h3 class="widget__title title title--white">pages widget</h3>
                    <div class="widget__content">
                        <div class="menu-tabs"> 
                            <div class="menu-tabs__tab menu-tab">
                                <input type="checkbox" class="menu-tab__field" id="tab1" name="tab-group">
                                <label for="tab1" class="menu-tab__title">home</label> 
                                <ul class="menu-tab__content">
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li> 
                                </ul> 
                            </div> 
                            <div class="menu-tabs__tab menu-tab">
                                <input class="menu-tab__field" type="checkbox" id="tab2" name="tab-group" checked>
                                <label for="tab2" class="menu-tab__title">pages</label> 
                                <ul class="menu-tab__content">
                                    <li class="menu-tab__item">
                                        <a href="#" class="menu-tab__link">service</a>
                                    </li>
                                    <li class="menu-tab__item">
                                        <a href="#" class="menu-tab__link">faq</a>
                                    </li>
                                    <li class="menu-tab__item">
                                        <a href="#" class="menu-tab__link">about</a>
                                    </li> 
                                </ul>
                            </div> 
                            <div class="menu-tabs__tab menu-tab">
                                <input class="menu-tab__field" type="checkbox" id="tab3" name="tab-group">
                                <label for="tab3" class="menu-tab__title">portfolio</label> 
                                <ul class="menu-tab__content">
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li> 
                                </ul>
                            </div>
                            <div class="menu-tabs__tab menu-tab">
                                <input class="menu-tab__field" type="checkbox" id="tab4" name="tab-group">
                                <label for="tab4" class="menu-tab__title">blog</label> 
                                <ul class="menu-tab__content">
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li> 
                                </ul>
                            </div>
                            <div class="menu-tabs__tab menu-tab">
                                <input class="menu-tab__field" type="checkbox" id="tab5" name="tab-group">
                                <label for="tab5" class="menu-tab__title">shop</label> 
                                <ul class="menu-tab__content">
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li>
                                    <li class="menu-tab__item"><a href="#" class="menu-tab__link"></a></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="widgets__item">
                <div class="widget">
                    <h3 class="widget__title title title--white">twitter widget</h3>
                    <div class="widget__content">
                        <ul class="publications">
                            <li class="publications__item">
                                <div class="publication">
                                    <a href="#" class="publication__text">
                                        <i class="publication__icon fab fa-twitter"></i>
                                        <span class="publication__comment">@LOGO, Duis commodo elit sed nisi molestie</span>
                                    </a>
                                    <div class="publication__about">
                                        <time class="publication__time time" datetime="2001-05-15 19:00">
                                            <span>2 hours ago</span>
                                            <svg width="24" height="24">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </time>
                                        <a href="#" class="publication__link">reply</a>
                                        <a href="#" class="publication__link">retweet</a>
                                        <a href="#" class="publication__link">favorite</a>
                                    </div>
                                </div>
                            </li>
                            <li class="publications__item">
                                <div class="publication">
                                    <a href="#" class="publication__text">
                                        <i class="publication__icon fab fa-twitter"></i>
                                        <span class="publication__comment">@LOGO, Duis commodo elit sed nisi molestie</span>
                                    </a>
                                    <div class="publication__about">
                                        <time class="publication__time time" datetime="2001-05-15 19:00">
                                            <span>2 hours ago</span>
                                            <svg width="24" height="24">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </time>
                                        <a href="#" class="publication__link">reply</a>
                                        <a href="#" class="publication__link">retweet</a>
                                        <a href="#" class="publication__link">favorite</a>
                                    </div>
                                </div>
                            </li>
                            <li class="publications__item">
                                <div class="publication">
                                    <a href="#" class="publication__text">
                                        <i class="publication__icon fab fa-twitter"></i>
                                        <span class="publication__comment">@LOGO, Duis commodo elit sed nisi molestie</span>
                                    </a>
                                    <div class="publication__about">
                                        <time class="publication__time time" datetime="2001-05-15 19:00">
                                            <span>2 hours ago</span>
                                            <svg width="24" height="24">
                                                <use xlink:href="#arrow-right"></use>
                                            </svg>
                                        </time>
                                        <a href="#" class="publication__link">reply</a>
                                        <a href="#" class="publication__link">retweet</a>
                                        <a href="#" class="publication__link">favorite</a>
                                    </div>
                                </div>
                            </li>  
                        </ul>
                    </div>
                </div>
                <div class="widget widget--social">
                    <h3 class="widget__title title title--white">social widget</h3>
                    <div class="widget__content">
                        <ul class="social social--full">
                            <li class="social__item">
                                <a href="https://www.facebook.com/" class="social__link facebook" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://twitter.com/" class="social__link twitter" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://vk.com/" class="social__link vk" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://www.pinterest.com/" class="social__link pinterest" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://www.tumblr.com/" class="social__link tumblr" target="_blank" rel="noopener noreferrer">
                                    <i class="fab fa-tumblr"></i>
                                </a>
                            </li>
                            <li class="social__item">
                                <a href="https://dribbble.com/" class="social__link dribbble" rel="noopener noreferrer">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="widgets__item">
                <div class="widget">
                    <h3 class="widget__title title title--white">flickr widget</h3>
                    <div class="widget__content">
                        <div class="grid">
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-1.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-2.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-3.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-4.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-5.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-6.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-7.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-8.jpg" alt="flickr widget">
                            </a>
                            <a href="#" class="grid__link">
                                <img class="grid__img" src="img/flickr-widget/flickr-img-9.jpg" alt="flickr widget">
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="widgets__item">
                <div class="widget">
                    <h3 class="widget__title title title--white">news letter</h3>
                    <div class="widget__content">
                        <form action="#" method="POST" class="form form--footer">
                            <input type="text" class="form__item form__field" placeholder="name">
                            <input type="email" class="form__item form__field" placeholder="email address">
                            <textarea class="form__item form__field form__textarea" placeholder="message"></textarea>
                            <button type="submit" class="btn form__btn form__item">subscribe</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>