.aside {
    padding: 25px 0 0 40px;
    background-color: $secondary-color;
    display: none;

    @media screen and (min-width: 850px) { display: block; }

    &__title {
        text-transform: uppercase; 
        color: $primary-color;
        padding: 10px 0;
        border-bottom: $border-width solid rgba($primary-color, .38);
    }
    &__items {
        & + & { margin-top: 30px; }
    }
}

.search {
    position: relative;
    &__field {
        border-radius: 44px;
        width: 100%;
        max-width: 265px;
        padding: 15px 5px 15px 20px ;
        text-transform: capitalize;
        letter-spacing: inherit;
        font-size: 1.6rem;
        font-family: $body-ff;
        background-color: $light-gray;
        border: $border-width solid $light-gray;
        outline: none;
    }
    &__icon {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: $header-primary-color;
        @include posA($top: 50%, $right: 0);
        @include transform;
        border-radius: 50%;
        text-align: center;
        line-height: 35px;
        font-size: 2.4rem;
        color: $secondary-color;
    }
}

.form {
    &__label {
        display: block;
        padding: 15px 0;
        text-transform: capitalize;
        font-size: 1.6rem;
    }
    &__field {
        margin-top: 15px;
        padding: 15px;
        border: $border-width solid rgba($black, .12);
        border-radius: 4px;
        &:focus {
            outline-color: $primary-color;
        }
        &::placeholder {
            text-transform: capitalize;
            font-family: inherit;
            color: rgba($black, .38);
        }
    }
    &__btn {
        border-radius: 4px;
    }
}

.or {
    text-align: center;
    padding: 20px 0;
    position: relative;
    &:before, &:after {
        content: '';
        display: inline-block;
        @include posA($top: calc(50% - #{$border-width}));
        width: 44%;
        height: $border-width;
        background-color: $black;
        opacity: .541;
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
    }
}

.tab-widget {
    &__toggler {
        height: 40px;
        @include flex;
        border-radius: 4px;
        border: $border-width solid $primary-color;
    }
    &__link {
        text-align: center;
        display: inline-block;
        width: 50%;
        text-transform: uppercase;
        height: 100%;
        line-height: 38px;
        font-family: $btn-ff;
        font-size: 1.2rem;
        color: $primary-color;

        &--active {
            background-color: $primary-color;
            color: $secondary-color;

        }
        @include tr;
        @include hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
    &__item {
        padding: 15px 0;
        &:not(:last-child) {
            border: $border-width solid #dee5e9;
        }
    }
}

.article {
    &--aside {
        height: 110px;

        .article__media-wrap {
            @include full;
            max-width: 100px;
        }
        .article__media { padding-top: 0; }
        .article__figcaption {
            position: relative;
        }
    }
    
}

.tags {
    &__menu {
        margin-top: 10px;
        margin-left: -5px;
    }
}
.tags-menu {
    margin: 15px 0 0 -5px;
    &__item {
        display: inline-block;
        margin: 5px;
    }
    &__link {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        background-color: $medium-gray;
        @include tr;
        @include hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}
  
  
  