@import 'nativejs-select';

.nav-blog {
    padding-top: 142px;
    background-color: $secondary-color;
    box-shadow: inset 0 -1px 0 1px rgba(221, 221, 221, 0.8);

    @media screen and (min-width: 576px) { padding-top: 0; }

    &__menu { padding-left: 10px; }
}

.section {
    &__content {
        background-color: $light-gray;
        padding-top: $gap;
    }
}

.nav {
    &--menu-blog {
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        color: $black;
        justify-content: flex-start;
    }
    &__title {
        display: none;
        @media screen and (min-width: 1070px) { display: block; }
    }
}

.blog-wrap {
    @media screen and (min-width: 850px) {
        display: grid;
        grid-template-columns: 1fr 310px;
        gap: 40px;
    }
}